NEXT_PUBLIC_CHAT_SERVER_URL=http://localhost:8084

AUTH_API_URL=http://localhost:8081/auth
NEXT_PUBLIC_AUTH_SIGNUP_URL=http://localhost:8081/auth/signup
NEXT_PUBLIC_AUTH_LOGIN_URL=http://localhost:8081/auth/login

NEXT_PUBLIC_GET_USERS_URL=http://localhost:8081/users

# API Gateway
# NEXT_PUBLIC_AUTH_SIGNUP_API=http://localhost:8083/api/auth/signup
# NEXT_PUBLIC_AUTH_LOGIN_API=http://localhost:8083/api/auth/login
# NEXT_PUBLIC_USERS_API=http://localhost:8083/api/users/
# # NEXT_PUBLIC_MSGS_API=http://localhost:8083/api/msgs/


# normal
NEXT_PUBLIC_AUTH_SIGNUP_API=http://localhost:8081/auth/signup
NEXT_PUBLIC_AUTH_LOGIN_API=http://localhost:8081/auth/login
NEXT_PUBLIC_USERS_API=http://localhost:8081/users